@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@keyframes append-animate {
    from {

        transform: scale(1.5);
        opacity: 0;
    }

    to {

        transform: scale(1);
        opacity: 1;
    }
}

@keyframes expand-font {
    from {
        color: #000;
        font-size: 0rem;
    }

    to {
        color: #ff0000;
        font-size: 4rem;
    }
}

body {
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    margin: 0 auto;
}

#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}



#modal-content-1 {
    width: 500px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #fff;
}

#modal-content-2 {
    width: 500px;
    height: 300px;
    background-color: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #fff;
    column-gap: 50px;
}



#modal-content-1>.option-buttons {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 50px;
    row-gap: 20px;

}

#modal-content-2>.option-buttons {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}



.player-select,
.player-marker {
    font-family: 'Pacifico', cursive;
    width: 150px;
    height: 150px;


}

.player-select {
    display: flex;
    font-size: 1.1rem;
    border: 1px solid rgb(225, 225, 225);
    justify-content: center;
    align-items: flex-end;

}

.player-select:hover,
.player-marker:hover {
    transform: scale(1.1);
}

#vs-player {
    background-image: url('img/person.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: #ffffff;

}

#vs-computer {
    background: url('img/monitor.svg') center no-repeat;
    background-size: 80px;
}

#difficulty-select {
    grid-column: 2/3;
    border: 1px solid rgb(225, 225, 225);
}

#difficulty-select:hover {
    border: 1px solid rgb(225, 225, 225);
}

.player-marker {
    border: 1px solid rgb(225, 225, 225);
    font-size: 4rem;
    width: 150px;
    height: 150px;
    background-color: #ffffff;
}

#choose-opponent-message {
    margin: 0;
    font-size: 1.7rem;
}

#start-message {
    font-size: 1.7rem;


}


.container {
    width: 100%;
}

#header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;


}

#header h1 {
    font-size: 6rem;

}

#score {
    text-align: center;
    font-size: 4rem;
    margin-top: 30px;
    animation: expand-font 0.3s linear;
    color: #ff0000;
}

#menu {
    width: 100%;
    margin-bottom: 50px;
    height: 150px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu-button {
    width: 100px;
    height: 50px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 2px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.menu-button:hover {
    box-shadow: 0 0 10px #fff;

}

.menu-button.active {
    transform: scale(1.10);
    box-shadow: 0 0 10px #fff;
}

#reset,
#menuNoughtSelect,
#menuAiSelect {
    margin-right: 50px;
}



#grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
    width: 500px;
    gap: 10px;


}


.grid-item {
    border: 1px solid black;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid-item>span {
    animation: append-animate .3s linear;
}

.grid-item:hover {
    transform: scale(1.1);
    transition: 0.2s;
}